<h1>Nom : <%= @user.first_name%></h1>
<h1>Prénom : <%= @user.last_name%></h1>
<h3>Email : <%= @user.email %></h3>
<h3>Age: <%= @user.age %>ans</h3>
<h3>Ville: <%= @user.city.name %></h3>
<h4>Description : <%= @user.description %></h4>




